<%- include("../includes/header.ejs", {title: "Update " + address.street}); %>

<h1>Update <%= address.street%></h1>
<form action="/address/update" method="get">
    Address St: <input id="street" name="street" type="text" value="<%= address.street %>"/>
    <br/>
    <br/>
    Zipcode: <input id="zip_code" name="zip_code" type="text" value="<%= address.zip_code%>"/>



    <script type="text/javascript">
        $(document).ready(function() {
            $('#address_id').multiselect();
        });
    </script>

    <br/>

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>